In [16]:
# import dependencies 
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import scipy.stats as sts 
from scipy.stats import linregress

In [17]:
# Load data 
confirmed_xl = 'Resources/tx_confirmed.xlsx'
fatalities_xl = 'Resources/tx_fatalities.xlsx'

# Note: get dataset for county populations  

# APIs - documentation in resources folder
hospital_cap_url = 'https://opendata.arcgis.com/datasets/1044bb19da8d4dbfb6a96eb1b4ebf629_0.geojson'
nursing_homes_url = 'https://data.cms.gov/resource/s2uc-8wxp.json'# Note: requires login and maybe sodapy ?
deaths_county_race = 'https://data.cdc.gov/api/views/k8wy-p9cg'
excess_death_comparisons = 'https://data.cdc.gov/api/views/m74n-4hbs'

# Save in dataframe 
confirmed_tx = pd.read_excel(confirmed_xl)
fatalities_tx = pd.read_excel(fatalities_xl)

In [14]:
# View data 
confirmed_tx.head()

,County,New Cases 03-04-2020,New Cases 03-05-2020,New Cases 03-06-2020,New Cases 03-09-2020,New Cases 03-10-2020,New Cases 03-11-2020,New Cases 03-12-2020,New Cases 03-13-2020,New Cases 03-15-2020,...,New Cases 01-25-2021,New Cases 01-26-2021,New Cases 01-27-2021,New Cases 01-28-2021,New Cases 01-29-2021,New Cases 01-30-2021,New Cases 01-31-2021,New Cases 02-01-2021,New Cases 02-02-2021,New Cases 02-03-2021
0,Anderson,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,8.0,1.0,32.0,6.0,-2.0,12.0,0.0,93.0,10.0
1,Andrews,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,19.0,0.0,0.0,0.0,6.0,0.0
2,Angelina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,117.0,0.0,0.0,0.0,0.0,112.0,0.0
3,Aransas,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,2.0,7.0,5.0,12.0,16.0,4.0,0.0,19.0,4.0
4,Archer,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,5.0,0.0,1.0,1.0,0.0,0.0,0.0,2.0,0.0

In [15]:
# View data
fatalities_tx.head()

,County Name,Fatalities 03-07-2020,Fatalities 03-08-2020,Fatalities 03-09-2020,Fatalities 03-10-2020,Fatalities 03-11-2020,Fatalities 03-12-2020,Fatalities 03-13-2020,Fatalities 03-14-2020,Fatalities 03-15-2020,...,Fatalities 01-24-2021,Fatalities 01-25-2021,Fatalities 01-26-2021,Fatalities 01-27-2021,Fatalities 01-28-2021,Fatalities 01-29-2021,Fatalities 01-30-2021,Fatalities 01-31-2021,Fatalities 02-01-2021,Fatalities 02-02-2021
0,ANDERSON,0,0,0,0,0,0,0,0,0,...,90,90,91,91,91,91,91,91,91,91
1,ANDREWS,0,0,0,0,0,0,0,0,0,...,42,43,43,44,44,44,44,44,44,44
2,ANGELINA,0,0,0,0,0,0,0,0,0,...,217,220,223,225,225,225,225,225,225,225
3,ARANSAS,0,0,0,0,0,0,0,0,0,...,31,31,31,31,31,31,31,31,31,31
4,ARCHER,0,0,0,0,0,0,0,0,0,...,10,10,11,11,11,11,11,11,11,11

In [ ]:
# Loop through data, get total for each county

In [ ]:
# Print dataset for counties with: highest infection (over popn), highest fatalities (over popn)

In [ ]:
# Compare infections to fatalities (% recovered vs. % not recovered)

In [ ]:
# Excess deaths api - may be useful to chart

In [ ]:
# Hospital capacity compared to death rate - may also be useful to get number of hospitals

In [ ]:
# Compare nursing home data to rest of population (?)